<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{msg}}
       
             <div v-for="item in list">
                <div v-if="item.age > 27" v-bind:style="stylemsg">
                    {{item.name}} {{item.age}}
                </div>
                <div v-else>
                    {{item.name}} {{item.age}}
                </div>
            </div>
        
        

    </div>
</body>
</html>
<script>
    var app =new Vue({
        el:'#app',
        data:{
            msg:'nihao',
            count: 25,
            stylemsg:{
                
                    color:'red'
                
            },
            list:[
                {name:'lly',
                 age:'30'
                },
                {
                 name:'cyd',
                 age:'26'
                }
            ]
        }
    })
</script>